body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    transition: 0.3s;
    transform: translateX(-100%);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar h2 {
    margin-top: 2rem;
    color: white;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.main-content {
    margin-top: 3rem;
    padding: 30px;
    transition: margin-left 0.3s;
}

#top-bar {
    background-color: #111;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: calc(100%);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top-bar .menu-button {
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

#top-bar h1 {
    margin: 0;
}

.open-btn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.chart-table-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#piChart {
    flex: 1;
}

#tableContainer {
    flex: 1;
}

#dataTable {
    margin-top: 10px;
}

#defectPeriod {
    display: inline;
    float:right;
    
}

.chartTitle {
    margin-bottom: 2rem;
}

#alarm {
    width: 30%;
    margin-left: 1rem;
}
